Source: {{ name }}-run
Section: admin
Priority: optional
Maintainer: {{ maintainer.name }} <{{ maintainer.email }}>
Build-Depends: debhelper-compat (= 11), dh-runit
Standards-Version: 4.2.1
Homepage: {{ uri }}
Vcs-Git: {{ uri }}.git
Vcs-Browser: {{ uri }}

Package: {{ name }}-run
Architecture: all
Depends: {{ name }}, ${misc:Depends}, ${shlibs:Depends}
Description: {{ description.short }} (Runit integration)
{{ description.long }}
 .
 This package contains scripts to run {{ name }} under Runit supervision system.
